---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>writing things, occasionally</h1>
			<p>
				
			</p>
			<p>
				it's brian. I'm a professional marketer / wannabe data analyst based in Montana in the
				United States. I started this blog in late 2021 to document some of the growth I'm working
				on in the decade of my thirties. 
			</p>
			<p>Here you'll read all about various things including:</p>
			<ul>
				<li>📖 Reviews on books I've been reading</li>
				<li>✈️ Updates from all the places I choose to travel to</li>
				<li>🧰 Details on all the tinkering and modifications I'm working on</li>
				<li>💸 All the dumb or not so dumb things I decide to spend my money on</li>
			</ul>
			<p>
				...and whatever else I feel like writing about. If you want to contact me, you can find
				me on <a href="https://www.twitter.com/helloitsbrian">Twitter</a>, or you can send me an
				email: <a href="mailto:oh@helloitsbrian.com">oh@helloitsbrian.com</a>
			</p>
		</main>
		<Footer />
		<script>

			declare global {
				interface Window {
					netlifyIdentity: any;
				}
			}
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", (user: any) => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		  </script>
	</body>
</html>
